.article-list {
  background-color: #cccc;
}

.article-item {
  position: relative;
  padding: 10px;

  &:after {
    position: absolute;
    top: 0;
    right: 10px;
    left: 10px;
    height: 1px;
    background-color: #ccc;
    content: '';
  }
}
