.article-list {
}

.article-item {
  position: relative;
  padding: 10px;

  &:after {
    position: absolute;
    top: 0;
    right: 10px;
    left: 10px;
    height: 1px;
    background-color: #e5e5e5;
    content: '';
  }

  &__info {
    display: flex;
  }
}
