.flex {
  display: flex;
}
.flex1 {
  flex: 1;
}
.alignCenter {
  align-items: center;
}

.stepBox {
  width: 100%;
  margin-bottom: 20px;
  background: #f1f2f5;
}
.stepItem {
  position: relative;
  height: 50px;
  color: #999999;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  > i {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

//表单
.form {
  :global {
    .ant-col {
      width: 140px; //修改表单label的宽度
    }
  }
  
}
.formPadding{
  margin-left: 80px;
  margin-right: 140px;
}
.searchForm{
  :global {
    .ant-col {
      width: 140px; //修改表单label的宽度
    }
  }
  background-color: #F8F9FA;
  padding-top:23px;
  border-bottom: 1px solid #E5E6E7;
}
.searchFormPadding{
  padding:23px 164px 5px 104px;
}

.content{
  margin-left: 80px;
}
.productImgBox{
  display: flex;
  .box{
    flex: 1;
    align-items: center;
    margin-left: 10px;
  }
}

.box{
  min-height: 80px;
  border:1px solid #E5E6E7;
  border-radius: 4px;
  padding:10px;
}

.title {
  margin-bottom: 30px;
  color: #000000;
  font-weight: bold;
  font-size: 14px;
}
.customForm{
  :global {
    .ant-col {
      width: 80px; //修改表单label的宽度
    }
  }
}
