@import '@/styles/var.scss';

.wrapper {
  display: flex;
  width: 100%;
  max-width: $width-container;
  margin: 15px auto;

  &__content {
    flex: 1;
  }
  &__aside {
    position: sticky;
    top: 50;
    width: 220px;
    margin-left: 20px;
  }
}
