/** @format */

@import '~antd/es/style/themes/default.less';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    width: 72px;
    height: 72px;
    margin-right: 20px;
    overflow: hidden;
    background-color: #ccc;
    border-radius: 50%;
  }
}
.flex {
  display: flex;
}
.flex1 {
  flex: 1;
}
.alignItemsCenter {
  align-items: center;
}
.headerLeft {
  display: flex;
  align-items: center;
}
.name {
  color: #101010;
  font-weight: bold;
  font-size: 20px;
}
.position {
  color: #101010;
  font-weight: bold;
  font-size: 14px;
}
.cursor {
  cursor: pointer;
}

.userDetailMsg {
  margin-top: 10px;
  .jobNumber {
    margin-right: 10px;
  }
  .label {
    color: #999;
  }
  .content {
    color: #101010;
  }
}

//运营数据
.operationalData {
  .updateTime {
    color: #999;
    font-size: 12px;
  }
}
