@import './var.scss';

// 1px 线条
@mixin line1px($position: top, $bg: #f6f6f6) {
  position: relative;

  @if $position == top {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 1px;
      background: $bg;
    }
  }
  @if $position == bottom {
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: $bg;
    }
  }
}

/* Breakpoints
   ========================================================================== */
@mixin query($breakpoint) {
  $query: map-get($breakpoints, $breakpoint);
  // 这里是scss error提示估计大部分人（包括我）都没怎么使用过
  @if not $query {
    @error 'No value found for `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.';
  }
  @media #{if(type-of($query) == 'string', unquote($query), inspect($query))}
   {
    @content;
  }
}