$design-width: 1200px;
$nav-height: 44px;
$aside-width: 200px;

/* Color
   ========================================================================== */
$color-primary: var(--color-primary);
$color-success: var(--color-success);
$color-danger: var(--color-danger);
$color-warning: var(--color-warning);

/* Breakpoints
   ========================================================================== */
$breakpoints: (
  'xs': 'only screen and ( max-width: 480px)',
  'sm': 'only screen and ( max-width: 768px)',
  'md': 'only screen and ( max-width: 992px)',
  'lg': 'only screen and ( max-width: 1200px)',
) !default;