$design-width: 1200px;
$nav-height: 44px;
$aside-width: 200px;

/* Space
   ========================================================================== */
$space-large: 20px;
$space: 15px;
$space-small: 10px;
$space-mini: 5px;

/* Color
   ========================================================================== */
$color-primary: var(--primary-color);
$color-success: var(--success-color);
$color-danger: var(--error-color);
$color-warning: var(--warning-color);

/* Breakpoints
   ========================================================================== */
$breakpoints: (
  'xs': 'only screen and ( max-width: 480px)',
  'sm': 'only screen and ( max-width: 768px)',
  'md': 'only screen and ( max-width: 992px)',
  'lg': 'only screen and ( max-width: 1200px)',
) !default;