.form {
    :global {
      .ant-col {
        width: 140px; //修改表单label的宽度
      }
    }
  }
  .title {
    margin-bottom: 30px;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
  }
  