.title {
  color: #676a6c;
  font-size: 30px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}

.form {
  :global {
    .ant-form-item {
      margin-bottom: 0;
    }
    .ant-col {
      width: 140px; //修改表单label的宽度
      & > label {
        color: #666;
      }
    }
    .ant-form-item-control-input-content {
      padding-left: 20px;
    }
  }
}
.alignCenter {
  text-align: center;
}
