.form {
    :global {
      .ant-col {
        width: 140px; //修改表单label的宽度
      }
    }
  }
  .cancelModal{
    margin:30px 20px;
    text-align: center;
    font-size: 16px;
    color: #101010;
  }