.el-table {
  &:before {
    display: none;
  }

  .el-table__row td {
    border: none;
    padding: 5px 0;
  }
  .el-table__row + .el-table__row td {
    border-top: 1px solid #f7f7f7;
  }

  .el-table__header {
    th {
      background-color: #f7f7f7;
      color: rgba(0, 0, 0, .85);
      padding: 5px 0;
      border: none;
    }
  }
}

.videoBigBg {
  .xgplayer {
    width: 800px !important; // 1200px;
    height: auto !important; /// 675px;
  }
  .custom-width {
    width: 510px !important;
    height: auto !important;
  }
}

#videoContent>div.video>div {
  width: 800px !important;
}

#videoContent.is-custom>div.video>div {
  width: 510px !important;
}
