//表单
.form {
    :global {
      .ant-col {
        width: 140px; //修改表单label的宽度
      }
    }
  }
.mt10{
    margin-top: 10px;
}
.textCenter{
    text-align: center;
}
  
.title {
  margin-bottom: 30px;
  color: #000000;
  font-weight: bold;
  font-size: 14px;
}
.pictureList{
  height: 90px;
  overflow: scroll;
  .item{
    width: 80px;
    display: block;
    float: left;
    margin-left: 25px;
    position: relative;
    .picture{
      margin-right: 5px;
    }
    .delete{
      position: absolute;
      right: 0;
      top:50%;
      transform: translateY(-50%);
      color:red;
      cursor: pointer;
    }
  }
}