.approver {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;

  .title {
    margin: 0 -20px;
    padding: 0 20px 20px;
    font-weight: 500;
    font-size: 18px;
    border-bottom: 1px solid #f0f0f0;
  }
  .content {
    padding: 20px 0;
  }
  .footer {
    margin-right: -20px;
    margin-left: -20px;
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid #f0f0f0;
  }
  .editTable {
    :global(.ant-card-body) {
      padding: 0;
    }
  }
}

.drawerForm {
  .editTable {
    :global(.ant-card-body) {
      padding: 0;
    }
  }
  :global(.ant-space.ant-space-horizontal.ant-space-align-center) {
    .ant-space-item {
      margin-right: 0 !important;

      & + .ant-space-item {
        margin-left: 8px;
      }
    }
  }
}
