.form {
    :global {
      .ant-col {
        width: 140px; //修改表单label的宽度
      }
    }
}

.mt10{
    margin-top: 10px;
}
.textCenter{
    text-align: center;
}
.col{
    text-align: center;
    padding:10px;
    background-color: #fcf8e3;
    margin-bottom: 20px;
}