//表单
.footer {
  :global {
    .ant-pro-footer-bar-left {
      min-width: 120px;
    }
    .ant-pro-footer-bar-right {
      overflow-x: auto;
      white-space: nowrap;
    }
  }
}

.form {
  :global {
    .ant-col {
      width: 140px;
    }
  }
}
