// @import './variables.css';

// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

$color-primary: var(--color-primary);// #409EFF;
$color-primary-light: var(--color-primary-light);//#b3d8ff;
$color-primary-lighter: var(--color-primary-lighter);//#b3d8ff;
$color-success: #009900; //  #42b983; // #7FDFC2;
$color-success-light: #f0f9eb;
$color-warning: #E6A23C;
$color-warning-light: #fdf6ec;
$color-danger: #ff0000; // #F56C6C;
$color-danger-light: #fef0f0;
$color-info: #909399;

$color-warning-yangtao: #fffbdb;

// bg
$bg-main: #f0f2f5; // #F7F8F9; // #FAFAFA; // #f7f7f7;
$bg-table-hover: #e8f4ff;

// height
$height-breadcrumb: 44px;

// text
$text-color-dark: #000; // #101010;
$text-color-primary: #333333; // #515a6e;
$text-color-base: $text-color-primary;
$text-color-default: $text-color-primary;
$text-color-light: #777; // #555555;
$text-color-secondary: #999999; // #808695;
$text-color-label: #606266;

// spacing
$main-spacing: 20px;
$main-space: $main-spacing;

// shadow
$shadow-base: 0 1px 2px 0 rgba(60,64,67,.03), 0 2px 6px 2px rgba(60,64,67,.03); // 0px 2px 6px 0px rgba(0, 0, 0, 0.05);

// font
$font-size-max: 28px;
$font-size-huge: 20px;
$font-size-large: 16px;
$font-size-big: 14px;
$font-size-default: 12px;
$font-size-base: $font-size-default;
$font-size-mini: 11px;
$font-size-title: 16px;

// border
$border-color-base: #dcdfe6 !default;
$border-color-light: #F0F0F0 !default; // #F5F5F5 !default; // #e4e7ed !default;
$border-color-lighter: #ebeef5 !default;
$border-color-extra-light: #f2f6fc !default;
$border-light: 1px solid $border-color-light !default;

// navbar
$navbar-active-color: $color-primary;
$font-size-navbar: 14px;
$navbar-height: 50px;

// sidebar
$menuText:#bfcbd9;
$menuActiveText: #fff;// $color-primary;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg: #001529; // #304156;
$menuItemActiveBg: $color-primary;
$menuHover: #263445;

$subMenuBg: #000c17; // #1f2d3d;
$subMenuHover: #001528;

$sideBarWidth: 200px;

// border-radius
$border-radius-base: 4px;

/* Break-point -- 参考element-ui
--------------------------*/
$--xs: 500px !default; // 待定
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

$--breakpoints: (
  'xxs': (max-width: $--xs -1),
  'xs' : (min-width: $--xs),
  'sm' : (min-width: $--sm),
  'md' : (min-width: $--md),
  'lg' : (min-width: $--lg),
  'xl' : (min-width: $--xl)
);

$--breakpoints-spec: (
  'xxs-only': (max-width: $--xs - 1),
  'xs-and-up': (min-width: $--xs),
  'xs-only' : "(min-width: #{$--xs}) and (max-width: #{$--sm} - 1)",
  'sm-and-up' : (min-width: $--sm),
  'sm-only': "(min-width: #{$--sm}) and (max-width: #{$--md} - 1)",
  'sm-and-down': (max-width: $--md - 1),
  'md-and-up' : (min-width: $--md),
  'md-only': "(min-width: #{$--md}) and (max-width: #{$--lg } - 1)",
  'md-and-down': (max-width: $--lg - 1),
  'lg-and-up' : (min-width: $--lg),
  'lg-only': "(min-width: #{$--lg}) and (max-width: #{$--xl } - 1)",
  'lg-and-down': (max-width: $--xl - 1),
  'xl-only' : (min-width: $--xl),
);

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  colorPrimary: $color-primary;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
