//表单
.form {
  :global {
    .ant-form-item {
      margin-bottom: 0;
    }
    .ant-col {
      width: 140px; //修改表单label的宽度
      & > label {
        color: #666;
      }
    }
    .ant-form-item-control-input-content {
      padding-left: 20px;
    }
  }
}
.title {
  margin-bottom: 30px;
  color: #000000;
  font-weight: bold;
  font-size: 14px;
}
.productInfo {
  margin-bottom: 20px;
  padding: 20px 10px 10px 10px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
}
