.app-page-container {
  &--left,
  &--center,
  &--right {
    :global(.ant-pro-footer-bar .ant-pro-footer-bar-left) {
      flex: 0;
      text-align: left;
    }
    :global(.ant-pro-footer-bar .ant-pro-footer-bar-right) {
      flex: 1;
    }
  }
  &--left {
    :global(.ant-pro-footer-bar .ant-pro-footer-bar-right) {
      text-align: left;
    }
  }
  &--center {
    :global(.ant-pro-footer-bar .ant-pro-footer-bar-right) {
      text-align: center;
    }
  }
  &--right {
    :global(.ant-pro-footer-bar .ant-pro-footer-bar-right) {
      text-align: right;
    }
  }

  :global {
    .ant-page-header {
      padding-bottom: 12px;
    }
    .ant-pro-page-container-children-content {
      margin: 20px 20px 0;
    }
    .ant-page-header-footer {
      margin-top: 0;
    }
  }

  &.has-tabs {
    :global {
      .ant-page-header {
        padding-bottom: 0 !important;
      }
      .ant-tabs-tab {
        font-size: 14px;
      }
      .ant-tabs-tab + .ant-tabs-tab {
        margin-left: 20px;
      }
    }
  }

  &.has-anchor-tabs {
    :global(.ant-page-header) {
      padding-bottom: 50px;
    }
  }
}

//底部工具栏
:global(.ant-pro-footer-bar) {
  padding: 10px 24px;
}
:global(.ant-table-tbody .ant-image-img) {
  object-fit: contain;
}
