//表单
.form {
    :global {
      .ant-col {
        width: 140px; //修改表单label的宽度
      }
    }
  }
  .title {
    margin-bottom: 30px;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
  }
  .productInfo{
      border:1px solid #f0f0f0;
      padding:20px 10px 10px 10px;
      border-radius: 4px;
      margin-bottom: 20px;
  }