.mb20 {
  margin-bottom: 20px;
}
.crossLine {
  padding-top: 30px;
  border-top: 1px dashed #ececec;
}

//表单
.form {
  :global {
    .ant-col {
      width: 140px;//修改表单label的宽度
    }
  }
}
.title {
  color: #000000;
  font-weight: bold;
  font-size: 14px;
}
