@import './var.css';
@import './var.scss';

html,
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  line-height: 1.6;
  background-color: $bg-body;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
}

div,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  border: 1px solid #eee;
  outline: none;
  appearance: none;
}

button {
  border: none;
  appearance: none;
}

ul {
  list-style: none;
}

.link {
  color: $text-color-primary;

  &:hover {
    color: $color-primary !important;
  }
}

// 文本溢出...
.ellipsis {
  &,
  &--l2,
  &--l3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &--l2,
  &--l3 {
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }

  &--l2 {
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }

  &--l3 {
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }
}

/* =========== markdown ============= */
.markdown-body {
  code.hljs {
    position: relative;
    border-radius: $border-radius-code;

    &.is-collapsed {
      height: $code-header-height;
      overflow: hidden;

      .code-header .collapse-button {
        transform: rotate(-90deg);
      }
    }
  }

  .code-header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: $code-header-height;
    padding: 0 12px;
    line-height: 24px;
    white-space: nowrap;
    word-break: unset;
    background: #242933;
    border-bottom: 1px solid #191e25;
    user-select: none;

    &__right {
      display: flex;
    }
  }

  .collapse-button {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;

    .icon-arrow-down {
      font-size: 12px;
    }
  }

  .code-language {
    padding: 0 6px;
    color: rgba(173, 177, 185, 0.5);
    font-size: 14px;
  }

  .split-divider {
    position: relative;
    top: 5px;
    display: inline-block;
    height: 16px;
    margin: 0 8px;
    vertical-align: middle;
    border-top: 0;
    border-left: 1px solid #3c424d;
  }

  .copy-code-button,
  .collapse-button {
    padding: 0 6px;
    color: #adb1b9;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      background-color: #3c424d;
      border-color: transparent;
    }
  }

  .iconfont {
    color: inherit;
    font-size: 14px;
  }
}
